<center>
    <%= image_tag "footer_ruler.svg" %>
    <nav role="navigation">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "home", "/" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "about", "/about" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "learn", "/learn" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "help", "/help" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "contact", "/contact" %>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                        <%= link_to "admin", "/admin" %>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</center>
