<article class="post-list-row">
    <a href="<%= post.the_url %>"
       class="post-list-image"
       style="background-image: url('<%= raw post.get_meta("thumb") %>');"></a>
    <div class="post-list-text">
        <div class="post-category">
            <%= raw get_taxonomy(post.the_categories.decorate, 'category tag') %>
        </div>
        <div class="post-title">
            <a href="<%= post.the_url %>">
                <%= post.the_title %>
            </a>
        </div>
    </div>
</article>
<hr>
