<% posts = (current_site.the_post_type("post").the_posts.decorate rescue {}) %>
<div class="container">
    <figure class="banner-wrapper">
        <div class="banner">
            <div class="blue-overlay">
                <figcaption>
                    <header>
                        You can make a difference.
                    </header>
                    <footer>
                        Find out how you can help.
                    </footer>
                </figcaption>
                <a href="/learn" class="button">
                    learn more
                    <div class="arrow">
                        <%= image_tag "arrow.svg" %>
                    </div>
                </a>
            </div>
        </div>
    </figure>
    <div class="row post-previews">
        <main class="col-sm-8">
            <% posts.each_with_index do |post, index| %>
                <% if index == 0 %>
                    <%= render partial: "partials/large_post_card", locals: { post: post } %>
                <% elsif index == 1 || index == 2 %>
                    <%= render partial: "partials/small_post_card", locals: { post: post } %>
                <% end %>
            <% end %>
            <div class="col-sm-12 top-card-padder">
                <figure class="banner-wrapper small-banner-wrapper">
                    <div class="banner small-banner">
                        <div class="blue-overlay">
                            <figcaption>
                                <header>
                                    Learn how you can help.
                                </header>
                            </figcaption>
                            <a href="/learn" class="button">
                                learn more
                                <div class="arrow">
                                    <%= image_tag "arrow.svg" %>
                                </div>
                            </a>
                        </div>
                    </div>
                </figure>
            </div>
        </main>
        <aside class="col-sm-4">
            <%= render partial: "partials/latest_posts", locals: { posts: posts } %>
        </aside>
    </div>
</div>
